.Card{
    display: flex;
    border: 2px solid black;
    width: 90vw;
    background-color: darkcyan;
}
.Card-Body{
    padding: 5px;
    width: 50%;
}
.Card-Image{
    width:50%;
}
.Card-Image > img {
    width: 100%;
}